In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [6]:
d

{'a': 10, 'b': 20, 'c': 30}

In [7]:
pd.Series(data= my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
ser1 =pd.Series([1,2,3,4],['USA','UK','UAE','USSR'])

In [13]:
ser1

USA     1
UK      2
UAE     3
USSR    4
dtype: int64

In [14]:
ser2 = pd.Series([1,2,3,5],['USA','RUSL','FOT','FAS'])

In [15]:
ser2

USA     1
RUSL    2
FOT     3
FAS     5
dtype: int64

In [16]:
ser1['USA']

1

In [17]:
ser1 +ser2

FAS     NaN
FOT     NaN
RUSL    NaN
UAE     NaN
UK      NaN
USA     2.0
USSR    NaN
dtype: float64