In [7]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [8]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [9]:
df

             A         B
G1 1 -1.095602 -1.254100
   2 -0.537468  0.247466
   3  1.023431  0.471960
G2 1 -1.369848  0.405170
   2  1.229772 -0.761634
   3  0.169656 -0.835111

In [11]:
df.loc['G1'].loc[1]

A   -1.095602
B   -1.254100
Name: 1, dtype: float64

In [13]:
df.index.names=['Groups','Num']

In [14]:
df

                   A         B
Groups Num
G1     1   -1.095602 -1.254100
       2   -0.537468  0.247466
       3    1.023431  0.471960
G2     1   -1.369848  0.405170
       2    1.229772 -0.761634
       3    0.169656 -0.835111

In [15]:
df.loc['G2'].loc[2]['B']

-0.7616342166937388

In [16]:
df.loc['G1'].loc[3]['B']

0.4719601571243803

In [17]:
df.xs('G1')

            A         B
Num
1   -1.095602 -1.254100
2   -0.537468  0.247466
3    1.023431  0.471960